<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new chat</title>
</head>
<body>
    <h3>create new chat..</h3>
    <form method="post"  action="/chats">
        <input  name="from"  placeholder="who are you?"><br><br>
        <textarea name="msg" >enter the message here</textarea><br><br>
        <input  name="to"  placeholder="enter the reciever"><br><br>
        <button>Add chat</button>
    </form>
</body>
</html>